/* =========== GENERAL =========== */

html {
    background-color: darkgrey; /* general background color for the whole page */
    scroll-behavior: smooth;
}

body {
    margin: 0%; /* site will display all the way to the edge of the browser screen */
}

h1 {
    font-variant: small-caps;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #f2f2f2;
    text-shadow: 2px 2px 5px rgba(26,26,26,1);
}

p {
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.center {
    text-align: center;
}

img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(26,26,26,0.5);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
}

/* =========== END GENERAL =========== */

/* =========== NAVBAR =========== */

.navbar {
    overflow: hidden;
    background-color: #19194d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 1.75s;
    animation: moveNav 1.75s;
}

@keyframes moveNav {
    from {top: -100vw;}
    to{top: 0vw;}
}

.navbar a {
    float: left;
    display: block;
    color: white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: min(1.5vw, 20px);
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 2.25s;
    animation: moveNavText 2.25s;
}

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.navbar a:hover {
    background-color: #3939ac;
    text-decoration: underline;
}

.navbar a.home_return {
    background-color: #2d2d86;
}

/* =========== END NAVBAR =========== */

/* =========== MAIN HEADING =========== */

.heading-banner {
    background: rgba(0,0,0,.3); /*semi-transparent background*/
    width: 100%;
    height: 30vh;
    padding-top: 2vh;
    position: relative;
    -webkit-animation: moveHeadingBanner 1.75s;
    animation: moveHeadingBanner 1.75s;
}

@keyframes moveHeadingBanner {
    from {top: -100vw;}
    to {top: 0vw;}
}

.heading-main {
    color: black;
    text-shadow: .5px .5px .5px rgba(217,217,242,1);
}

.intro-text {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: min(1.5vw, 20px);
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 576px) {
    .intro-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 924px) {
    .intro-text {
        font-size: 12px;
    }
}

/* =========== END MAIN HEADING =========== */

/* =========== COLUMNS =========== */

* {
    box-sizing: border-box;
}

.column {
    overflow: hidden;
}

.col_w { /* Text Column */
    float: left;
    width: 50%;
    padding: 15px;
    height: 410px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

@media screen and (max-width: 576px) {
    .col_w {
        overflow: auto;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* =========== END COLUMNS =========== */

/* =========== SLIDESHOW =========== */

.mySlides {
    display: none;
}

#slideshow-container {
    width: 50%;
    max-width: 350px;
    height: auto;
    position: relative;
    margin: auto;
}

.slideshow-images {
    vertical-align: middle;
    height: auto;
    
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,.75);
    width: 100%;
}

/* -- Next and Previous Buttons -- */

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    
    border-radius: 0 10px 10px 0; /*rounds right corners of button container*/
    user-select: none; /*cannot be highlighted*/
    transition: 0.6s ease; /*for hover effect*/
}

.next {
    right: 0; /*positions Next button on right side of slideshow container*/
    border-radius: 10px 0 0 10px; /*rounds left corners of button container*/
}

#slideshow-container a {
    text-decoration: none; /*removes underline from next and previous buttons*/
}

.previous:hover, .next:hover {
    /*hover effects*/
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* -- End Next and Previous Buttons -- */

.slideshow-text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1vw;
    font-size: min(1.5vw, 20px);
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border-radius: 0px 0px 14px 14px; /*rounds bottom corners of text background*/
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25 vw; /*spacing between dots*/
    background-color: white; /*makes dots white*/
    border-radius: 50%; /*makes dots circles*/
    display: inline-block; /*dots will sit next to each other*/
    transition: background-color 0.6s ease; /*hover/click effect*/
    z-index: 1;
}

.active, .dot:hover{
    background-color: black; /*sets color of dots when active or hovered over*/
}

/* -- Fading Animation for Slideshow -- */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/* =========== END SLIDESHOW =========== */

/* =========== GITHUB STYLES =========== */

.github_link {
    
    padding-top: 10px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    text-decoration: none;
}

.github_link:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgba(26,26,26,.3);
}

/* =========== END GITHUB STYLES =========== */

/* =========== CONTACT FORM =========== */

/* -- Contact button, stuck on bottom-right of screen -- */
.pop-up-button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    animation: movePopup 2.5s;
    -webkit-animation: movePopup 2.5s;
}

button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-variant: small-caps;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover {
    color: white;
    background-color: black;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    border-color: silver;
}

@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/* Popup Form */
.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

.contact-heading {
    color: black;
    text-shadow: none;
    text-decoration: underline;
}

.form-container input[type=text]{
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

.form-container input[type=text]:hover {
    box-shadow: 2px 2px 5px rgba(26,26,26,0.5);
}

label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

/* -- Submit Button -- */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .btn:hover {
    color: white;
    background-color: green;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    border-color: silver;
}

/* -- Cancel Button -- */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    border-color: black;
}

/* =========== END CONTACT FORM =========== */

/* =========== MEDIA QUERY SECTION =========== */

/*Media rule for navbar links for different screen sizes*/
/* Screens 1080px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) {
    .navbar a{
        width: 20%; /* sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the intro text for smaller screens */
@media screen and (max-width: 1080px) {
   .intro-text {
        font-size: 4.5vw;
    }
}

/*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}
/***** End of Media Query Section *****/